<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocp.cuit.dao.OrderProductDao">
    <select id="getAllStockOrderProducts" resultType="StockOrderProduct">
        select *
        from stockorder_product
    </select>

    <select id="getStockOrderProducts" parameterType="String" resultType="StockOrderProduct">
        select *
        from stockorder_product
        where sop_order_id = #{sop_order_id}
    </select>

    <insert id="addNewStockOrderProduct" parameterType="StockOrderProduct">
        insert into stockorder_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sop_order_id != null"> sop_order_id, </if>
            <if test="sop_product_id != null"> sop_product_id, </if>
            <if test="sop_product_qty != null"> sop_product_qty, </if>
            <if test="sop_invoice_price != null"> sop_invoice_price, </if>
            <if test="sop_total_price != null"> sop_total_price, </if>
            <if test="sop_volume != null"> sop_volume, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sop_order_id != null"> #{sop_order_id}, </if>
            <if test="sop_product_id != null"> #{sop_product_id}, </if>
            <if test="sop_product_qty != null"> #{sop_product_qty}, </if>
            <if test="sop_invoice_price != null"> #{sop_invoice_price}, </if>
            <if test="sop_total_price != null"> #{sop_total_price}, </if>
            <if test="sop_volume != null"> #{sop_volume}, </if>
        </trim>
    </insert>
    <delete id="deleteStockOrderProduct" parameterType="String">
        delete
        from stockorder_product
        where sop_order_id=#{orderId};
    </delete>






    <select id="getAllWholesaleOrderProducts" resultType="WholesaleOrderProduct">
        select *
        from wholesaleorder_product
    </select>
    <select id="getWholesaleOrderProducts" parameterType="String" resultType="WholesaleOrderProduct">
        select *
        from wholesaleorder_product
        where wsop_order_id = #{wsop_order_id}
    </select>
    <insert id="addNewWSOrderProduct" parameterType="WholesaleOrderProduct">
        insert into wholesaleorder_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wsop_order_id != null"> wsop_order_id, </if>
            <if test="wsop_product_id != null"> wsop_product_id, </if>
            <if test="wsop_product_qty != null"> wsop_product_qty, </if>
            <if test="wsop_invoice_price != null"> wsop_invoice_price, </if>
            <if test="wsop_total_price != null"> wsop_total_price, </if>
            <if test="wsop_volume != null"> wsop_volume, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wsop_order_id != null"> #{wsop_order_id}, </if>
            <if test="wsop_product_id != null"> #{wsop_product_id}, </if>
            <if test="wsop_product_qty != null"> #{wsop_product_qty}, </if>
            <if test="wsop_invoice_price != null"> #{wsop_invoice_price}, </if>
            <if test="wsop_total_price != null"> #{wsop_total_price}, </if>
            <if test="wsop_volume != null"> #{wsop_volume}, </if>
        </trim>
    </insert>
    <delete id="deleteWSOrderProduct" parameterType="String">
        delete
        from wholesaleorder_product
        where wsop_order_id=#{orderId};
    </delete>
</mapper>