<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocp.cuit.dao.OrderDao">
    <select id="getAllRetailOrders" resultType="RetailOrder">
        select *
        from retail_order
    </select>
    <select id="getAllStockOrders" resultType="StockOrder">
        select *
        from stock_order
    </select>
    <select id="getAllWholesaleOrders" resultType="WholesaleOrder">
        select *
        from wholesale_order
    </select>

</mapper>