<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocp.cuit.dao.OrderDao">
    <select id="getAllStockOrders" resultType="java.util.HashMap">
        select *
        from stock_order
    </select>
    <select id="getStockOrders" parameterType="StockOrder" resultType="java.util.HashMap">
        select *
        from stock_order
        <where>
            <if test="sto_order_number != null">
                and sto_order_number=#{sto_order_number}
            </if>
            <if test="sto_invoice_title != null">
                and sto_invoice_title=#{sto_invoice_title}
            </if>
            <if test="sto_retailer_id != null">
                and sto_retailer_id=#{sto_retailer_id}
            </if>
            <if test="sto_out_warehouse_id != null">
                and sto_out_warehouse_id=#{sto_out_warehouse_id}
            </if>
            <if test="sto_in_warehouse_id != null">
                and sto_in_warehouse_id=#{sto_in_warehouse_id}
            </if>
            <if test="sto_pickup_method != null">
                and sto_pickup_method=#{sto_pickup_method}
            </if>
            <if test="sto_period_demand != null">
                and sto_period_demand=#{sto_period_demand}
            </if>
            <if test="sto_submit_datetime != null">
                and sto_submit_datetime=#{sto_submit_datetime}
            </if>
            <if test="sto_remark != null">
                and sto_remark=#{sto_remark}
            </if>
            <if test="sto_file_path != null">
                and sto_file_path=#{sto_file_path}
            </if>
            <if test="sto_status != null">
                and sto_status=#{sto_status}
            </if>
            <if test="sto_reason != null">
                and sto_reason=#{sto_reason}
            </if>
            <if test="sto_reviewer_user_name != null">
                and sto_reviewer_user_name=#{sto_reviewer_user_name}
            </if>
            <if test="sto_rereviewer_user_name != null">
                and sto_rereviewer_user_name=#{sto_rereviewer_user_name}
            </if>
        </where>
    </select>
    <update id="updateStockOrder" parameterType="StockOrder">
        update stock_order
        <set>
            <if test="sto_invoice_title != null">
                sto_invoice_title=#{sto_invoice_title},
            </if>
            <if test="sto_retailer_id != null">
                sto_retailer_id=#{sto_retailer_id},
            </if>
            <if test="sto_out_warehouse_id != null">
                sto_out_warehouse_id=#{sto_out_warehouse_id},
            </if>
            <if test="sto_in_warehouse_id != null">
                sto_in_warehouse_id=#{sto_in_warehouse_id},
            </if>
            <if test="sto_pickup_method != null">
                sto_pickup_method=#{sto_pickup_method},
            </if>
            <if test="sto_period_demand != null">
                sto_period_demand=#{sto_period_demand},
            </if>
            <if test="sto_submit_datetime != null">
                sto_submit_datetime=#{sto_submit_datetime},
            </if>
            <if test="sto_remark != null">
                sto_remark=#{sto_remark},
            </if>
            <if test="sto_file_path != null">
                sto_file_path=#{sto_file_path},
            </if>
            <if test="sto_status != null">
                sto_status=#{sto_status},
            </if>
            <if test="sto_reason != null">
                sto_reason=#{sto_reason},
            </if>
            <if test="sto_reviewer_user_name != null">
                sto_reviewer_user_name=#{sto_reviewer_user_name},
            </if>
            <if test="sto_rereviewer_user_name != null">
                sto_rereviewer_user_name=#{sto_rereviewer_user_name}
            </if>
        </set>
        where sto_order_number=#{sto_order_number}
    </update>
    <insert id="addNewStockOrder" parameterType="StockOrder">
        insert into stock_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sto_order_number != null">sto_order_number,</if>
            <if test="sto_invoice_title != null">sto_invoice_title,</if>
            <if test="sto_retailer_id != null">sto_retailer_id,</if>
            <if test="sto_out_warehouse_id != null">sto_out_warehouse_id,</if>
            <if test="sto_in_warehouse_id != null">sto_in_warehouse_id,</if>
            <if test="sto_pickup_method != null">sto_pickup_method,</if>
            <if test="sto_period_demand != null">sto_period_demand,</if>
            <if test="sto_submit_datetime != null">sto_submit_datetime,</if>
            <if test="sto_remark != null">sto_remark,</if>
            <if test="sto_file_path != null">sto_file_path,</if>
            <if test="sto_status != null">sto_status,</if>
            <if test="sto_reason != null">sto_reason,</if>
            <if test="sto_reviewer_user_name != null">sto_reviewer_user_name,</if>
            <if test="sto_rereviewer_user_name != null">sto_rereviewer_user_name,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sto_order_number != null">#{sto_order_number},</if>
            <if test="sto_invoice_title != null">#{sto_invoice_title},</if>
            <if test="sto_retailer_id != null">#{sto_retailer_id},</if>
            <if test="sto_out_warehouse_id != null">#{sto_out_warehouse_id},</if>
            <if test="sto_in_warehouse_id != null">#{sto_in_warehouse_id},</if>
            <if test="sto_pickup_method != null">#{sto_pickup_method},</if>
            <if test="sto_period_demand != null">#{sto_period_demand},</if>
            <if test="sto_submit_datetime != null">#{sto_submit_datetime},</if>
            <if test="sto_remark != null">#{sto_remark},</if>
            <if test="sto_file_path != null">#{sto_file_path},</if>
            <if test="sto_status != null">#{sto_status},</if>
            <if test="sto_reason != null">#{sto_reason},</if>
            <if test="sto_reviewer_user_name != null">#{sto_reviewer_user_name},</if>
            <if test="sto_rereviewer_user_name != null">#{sto_rereviewer_user_name},</if>
        </trim>
    </insert>
    <delete id="deleteStockOrder" parameterType="String">
        delete
        from stock_order
        where sto_order_number = #{orderNumber}
    </delete>


    <select id="getAllWholesaleOrders" resultType="java.util.HashMap">
        select *
        from wholesale_order
    </select>
    <select id="getWholesaleOrders" parameterType="WholesaleOrder" resultType="java.util.HashMap">
        select *
        from wholesale_order
        <where>
            <if test="wso_order_number != null">and wso_order_number=#{wso_order_number}</if>
            <if test="wso_invoice_title != null">and wso_invoice_title=#{wso_invoice_title}</if>
            <if test="wso_retailer_id != null">and wso_retailer_id=#{wso_retailer_id}</if>
            <if test="wso_out_warehouse_id != null">and wso_out_warehouse_id=#{wso_out_warehouse_id}</if>
            <if test="wso_detail_address != null">and wso_detail_address=#{wso_detail_address}</if>
            <if test="wso_receiver != null">and wso_receiver=#{wso_receiver}</if>
            <if test="wso_phone != null">and wso_phone=#{wso_phone}</if>
            <if test="wso_pickup_method != null">and wso_pickup_method=#{wso_pickup_method}</if>
            <if test="wso_submit_datetime != null">and wso_submit_datetime=#{wso_submit_datetime}</if>
            <if test="wso_remark != null">and wso_remark=#{wso_remark}</if>
            <if test="wso_file_path != null">and wso_file_path=#{wso_file_path}</if>
            <if test="wso_status != null">and wso_status=#{wso_status}</if>
            <if test="wso_reason != null">and wso_reason=#{wso_reason}</if>
            <if test="wso_reviewer_user_name != null">and wso_reviewer_user_name=#{wso_reviewer_user_name}</if>
            <if test="wso_rereviewer_user_name != null">and wso_rereviewer_user_name=#{wso_rereviewer_user_name}</if>
        </where>
    </select>
    <update id="updateWholesaleOrder" parameterType="WholesaleOrder">
        update wholesale_order
        <set>
            <if test="wso_invoice_title != null">wso_invoice_title=#{wso_invoice_title},</if>
            <if test="wso_retailer_id != null">wso_retailer_id=#{wso_retailer_id},</if>
            <if test="wso_out_warehouse_id != null">wso_out_warehouse_id=#{wso_out_warehouse_id},</if>
            <if test="wso_detail_address != null">wso_detail_address=#{wso_detail_address},</if>
            <if test="wso_receiver != null">wso_receiver=#{wso_receiver},</if>
            <if test="wso_phone != null">wso_phone=#{wso_phone},</if>
            <if test="wso_pickup_method != null">wso_pickup_method=#{wso_pickup_method},</if>
            <if test="wso_submit_datetime != null">wso_submit_datetime=#{wso_submit_datetime},</if>
            <if test="wso_remark != null">wso_remark=#{wso_remark},</if>
            <if test="wso_file_path != null">wso_file_path=#{wso_file_path},</if>
            <if test="wso_status != null">wso_status=#{wso_status},</if>
            <if test="wso_reason != null">wso_reason=#{wso_reason},</if>
            <if test="wso_reviewer_user_name != null">wso_reviewer_user_name=#{wso_reviewer_user_name},</if>
            <if test="wso_rereviewer_user_name != null">wso_rereviewer_user_name=#{wso_rereviewer_user_name}</if>
        </set>
        where wso_order_number=#{wso_order_number}
    </update>
    <insert id="addNewWholesaleOrder" parameterType="WholesaleOrder">
        insert into wholesale_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wso_order_number != null">wso_order_number,</if>
            <if test="wso_invoice_title != null">wso_invoice_title,</if>
            <if test="wso_retailer_id != null">wso_retailer_id,</if>
            <if test="wso_out_warehouse_id != null">wso_out_warehouse_id,</if>
            <if test="wso_detail_address != null">wso_detail_address,</if>
            <if test="wso_receiver != null">wso_receiver,</if>
            <if test="wso_phone != null">wso_phone,</if>
            <if test="wso_pickup_method != null">wso_pickup_method,</if>
            <if test="wso_submit_datetime != null">wso_submit_datetime,</if>
            <if test="wso_remark != null">wso_remark,</if>
            <if test="wso_file_path != null">wso_file_path,</if>
            <if test="wso_status != null">wso_status,</if>
            <if test="wso_reason != null">wso_reason,</if>
            <if test="wso_reviewer_user_name != null">wso_reviewer_user_name,</if>
            <if test="wso_rereviewer_user_name != null">wso_rereviewer_user_name,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wso_order_number != null">#{wso_order_number},</if>
            <if test="wso_invoice_title != null">#{wso_invoice_title},</if>
            <if test="wso_retailer_id != null">#{wso_retailer_id},</if>
            <if test="wso_out_warehouse_id != null">#{wso_out_warehouse_id},</if>
            <if test="wso_detail_address != null">#{wso_detail_address},</if>
            <if test="wso_receiver != null">#{wso_receiver},</if>
            <if test="wso_phone != null">#{wso_phone},</if>
            <if test="wso_pickup_method != null">#{wso_pickup_method},</if>
            <if test="wso_submit_datetime != null">#{wso_submit_datetime},</if>
            <if test="wso_remark != null">#{wso_remark},</if>
            <if test="wso_file_path != null">#{wso_file_path},</if>
            <if test="wso_status != null">#{wso_status},</if>
            <if test="wso_reason != null">#{wso_reason},</if>
            <if test="wso_reviewer_user_name != null">#{wso_reviewer_user_name},</if>
            <if test="wso_rereviewer_user_name != null">#{wso_rereviewer_user_name},</if>
        </trim>
    </insert>
    <delete id="deleteWholesaleOrder" parameterType="String">
        delete
        from wholesale_order
        where wso_order_number = #{orderNumber}
    </delete>


    <select id="getAllRetailOrders" resultType="java.util.HashMap">
        select *
        from retail_order
    </select>
    <select id="getRetailOrders" resultType="java.util.HashMap">
        select *
        from retail_order
        <where>
            <if test="rto_transaction_id != null">and rto_transaction_id=#{rto_transaction_id}</if>
            <if test="rto_retailer_id != null">and rto_retailer_id=#{rto_retailer_id}</if>
            <if test="rto_source_website != null">and rto_source_website=#{rto_source_website}</if>
            <if test="rto_source_store != null">and rto_source_store=#{rto_source_store}</if>
            <if test="rto_order_status != null">and rto_order_status=#{rto_order_status}</if>
            <if test="rto_shipment_status != null">and rto_shipment_status=#{rto_shipment_status}</if>
            <if test="rto_order_date != null">and rto_order_date=#{rto_order_date}</if>
            <if test="rto_paid_date != null">and rto_paid_date=#{rto_paid_date}</if>
            <if test="rto_shipment_date != null">and rto_shipment_date=#{rto_shipment_date}</if>
            <if test="rto_order_price != null">and rto_order_price=#{rto_order_price}</if>
            <if test="rto_actually_paid != null">and rto_actually_paid=#{rto_actually_paid}</if>
            <if test="rto_weight != null">and rto_weight=#{rto_weight}</if>
            <if test="rto_freight != null">and rto_freight=#{rto_freight}</if>
            <if test="rto_shipping_address != null">and rto_shipping_address=#{rto_shipping_address}</if>
            <if test="rto_receiver_name != null">and rto_receiver_name=#{rto_receiver_name}</if>
            <if test="rto_receiver_phone != null">and rto_receiver_phone=#{rto_receiver_phone}</if>
            <if test="rto_express_company != null">and rto_express_company=#{rto_express_company}</if>
            <if test="rto_express_number != null">and rto_express_number=#{rto_express_number}</if>
        </where>
    </select>


    <select id="getReviewOrders" resultType="java.util.HashMap">
        <if test="orderType == 0">
            select sto_submit_datetime submit_datetime,
            sto_order_number order_number,
            sto_retailer_id retailer_id,
            retailer_name,
            retailer_area,
            SUM(sop_total_price) price,
            SUM(sop_volume) volume,
            sto_reviewer_user_name reviewer_user_name,
            sto_rereviewer_user_name rereviewer_user_name
            from stock_order,
            retailer,
            stockorder_product
            where sto_retailer_id = retailer_id
            and sto_order_number = sop_order_id
            and sto_status = #{status}
            group by sto_order_number
        </if>
        <if test="orderType == 1">
            select wso_submit_datetime submit_datetime,
            wso_order_number order_number,
            wso_retailer_id retailer_id,
            retailer_name,
            retailer_area,
            SUM(wsop_total_price) price,
            SUM(wsop_volume) volume,
            wso_reviewer_user_name reviewer_user_name,
            wso_rereviewer_user_name rereviewer_user_name
            from wholesale_order,
            retailer,
            wholesaleorder_product
            where wso_retailer_id = retailer_id
            and wso_order_number = wsop_order_id
            and wso_status = #{status}
            group by wso_order_number
        </if>
    </select>

    <select id="inquireStockOrders" parameterType="InquireOrdersVO" resultType="java.util.HashMap">
        select sto_submit_datetime submit_datetime,
        sto_order_number order_number,
        sto_retailer_id retailer_id,
        retailer_name,
        retailer_area,
        SUM(sop_total_price) price,
        SUM(sop_volume) volume,
        sto_reviewer_user_name reviewer_user_name,
        sto_rereviewer_user_name rereviewer_user_name
        from stock_order,
        retailer,
        stockorder_product
        <where>
            sto_retailer_id = retailer_id
            and sto_order_number = sop_order_id
            <if test="retailer_name != null">and retailer_name = #{retailer_name}</if>
            <if test="retailer_id != null">and retailer_id = #{retailer_id}</if>
            <if test="order_number != null">and sto_order_number = #{order_number}</if>
            <if test="submit_datetime != null">and sto_submit_datetime = #{submit_datetime}</if>
            <if test="status != null">and sto_status = #{status}</if>
        </where>
        group by sto_order_number
    </select>
    <select id="inquireWSOrders" parameterType="InquireOrdersVO" resultType="java.util.HashMap">
        select wso_submit_datetime submit_datetime,
        wso_order_number order_number,
        wso_retailer_id retailer_id,
        retailer_name,
        retailer_area,
        SUM(wsop_total_price) price,
        SUM(wsop_volume) volume,
        wso_reviewer_user_name reviewer_user_name,
        wso_rereviewer_user_name rereviewer_user_name
        from wholesale_order,
        retailer,
        wholesaleorder_product
        <where>
            wso_retailer_id = retailer_id
            and wso_order_number = wsop_order_id
            <if test="retailer_name != null">and retailer_name = #{retailer_name}</if>
            <if test="retailer_id != null">and retailer_id = #{retailer_id}</if>
            <if test="order_number != null">and wso_order_number = #{order_number}</if>
            <if test="submit_datetime != null">and wso_submit_datetime = #{submit_datetime}</if>
            <if test="status != null">and wso_status = #{status}</if>
        </where>
        group by wso_order_number
    </select>

    <select id="getOrderDetail" resultType="java.util.HashMap">
        <if test="orderType == 0">
            select sto_submit_datetime submit_datetime,
                   sto_period_demand period_demand,
                   sto_order_number order_number,
                   sto_retailer_id retailer_id,
                   sto_remark remark,
                   sto_out_warehouse_id out_warehouse_id,
                   sto_in_warehouse_id in_warehouse_id,
                   retailer_name,
                   retailer_store_name,
                   retailer_area,
                   retailer_contact_name,
                   retailer_phone,
            SUM(sop_total_price) price,
            SUM(sop_volume) volume,
            SUM(sop_product_qty) product_qty,
            sto_reviewer_user_name reviewer_user_name,
            sto_rereviewer_user_name rereviewer_user_name
            from stock_order,
            retailer,
            stockorder_product
            where sto_retailer_id = retailer_id
            and sto_order_number = sop_order_id
            and sto_order_number = #{order_number}
            group by sto_order_number
        </if>
        <if test="orderType == 1">
            select wso_submit_datetime submit_datetime,
                wso_order_number order_number,
                wso_retailer_id retailer_id,
                wso_remark remark,
                wso_out_warehouse_id out_warehouse_id,
                retailer_name,
                retailer_store_name,
                retailer_area,
                retailer_contact_name,
                retailer_phone,
                SUM(wsop_total_price) price,
                SUM(wsop_volume) volume,
                SUM(wsop_product_qty) product_qty,
                wso_reviewer_user_name reviewer_user_name,
                wso_rereviewer_user_name rereviewer_user_name
            from wholesale_order,
                retailer,
                wholesaleorder_product
            where wso_retailer_id = retailer_id
            and wso_order_number = wsop_order_id
            and wso_order_number = #{order_number}
            group by wso_order_number
        </if>
    </select>
</mapper>